body {
    margin: 0 auto !important;
}

img {
    width: 100%;
}

/* resets */

p {
    margin-bottom: 0.5rem !important;
}

.btn-close {
    width: 25px;
    height: 25px;
    padding: 0;
    border: none;
    background-color: transparent;
    background-image: url('/src/assets/close.svg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    scale: 1;
    transition: scale 0.3s linear;
}

.btn-close:hover {
    scale: 1.2;
}

.user-img {
    width: 40%;
    margin-right: 20px;
    border-radius: 5px;
    overflow: hidden;
}

.news-item {
    background-color: #006ce81a;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #0365d630;
    border-radius: 5px;
}

.user-short {
    display: flex;
    cursor: pointer;
    width: 360px;
    background-color: #006ce81a;
    padding: 10px;
    border: 1px solid #0365d630;
    border-radius: 5px;
    transition: background-color .3s ease-in-out;
}

.user-short:hover {
    background-color: #006ce867;
}

.user-short-img {
    width: 40%;
    margin-right: 20px;
    border-radius: 5px;
    overflow: hidden;
}

.user-short-img img {
    height: 100%;
    object-fit: cover;
}